body {
    background-color: #0b0b16;
    color: #ffffff;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 5px 5px;
    padding-bottom: 50px;
    border-radius: 15px;
}

#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    filter: blur(25px) brightness(0.5);
    transform: scale(1.05);
    z-index: -1;
}

h1 {
    background: rgba(255, 255, 255, 0.45);
    color: #ffffff;

    text-align: center;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;

    padding: 10px 40px;
    width: fit-content;
    margin: 50px auto 20px auto;

    border-radius: 30px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 10px #CE99FF, 0 0 20px #593d83;
}

p {
    background: rgba(26, 9, 51, 0.45);
    color: #CE99FF;

    text-align: center;
    width: fit-content;

    padding: 12px 20px;
    margin: 10px auto 20px auto;

    border-radius: 15px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}

ol {
    background: rgba(26, 9, 51, 0.45);
    color: #CE99FF;

    text-align: center;
    width: fit-content;

    padding: 12px 20px;
    margin: 10px auto 20px auto;

    border-radius: 15px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}